html {
    position: relative;
    min-height: 100%;
}

body {
	background-image: url(../resources/imagens/background.jpg);
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
}

.container {
	position: relative;
	margin: 0 auto;
	min-heigth: 100%;
}

.content{
	margin-bottom: 100px;
}

/* cabeçalho */
header {
	background-image: url(../resources/imagens/header-back.jpg);
	clear: both;
	opacity: 0.8;
	padding: 5px 0;
	margin-bottom: 5px;
	height: 100px;
}

#logo-livraria {
	width: 300px;
	position: relative;
	padding: 10px;
	margin: 10px;
}

.menu-opcoes {
	position: absolute;
	bottom: 30px;
	right: 20px;
}

.menu-opcoes ul {
	font-size: 20px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a {
	color: #003366;
}

/* rodapé */
footer {
	background-image: url(../resources/imagens/fundo-rodape2.png);
	clear: both;
	padding: 20px 0;
	margin-top: 10px;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#logo-rodape {
	width: 230px;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	height: 32px;
	width: 32px;
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"]{
	background-image: url(../resources/imagens/facebook.png);
}

.social a[href*="twitter.com"]{
	background-image: url(../resources/imagens/twitter.png);
}

.social a[href*="plus.google.com"]{
	background-image: url(../resources/imagens/googleplus.png);
}

/* menu lateral */
.busca, .menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-right: 10px;
	width: 230px;
}

.busca h2, .busca form, .menu-departamentos h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333;
	text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:HOVER ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos li li a:BEFORE {
	content: '\261E ';
	padding-right: 3px;
}

.menu-departamentos {
	clear: left;
	margin-top: 2px;
	padding-bottom: 10px;
}

#img-destaque {
	position: relative;
	left: 150px;
	padding: 15px;
	margin: 10px;
}
/* conteudo central */
.painel-cadastro {
	width: 500px;
	position: relative;
	top: 20px;
	left: 390px;
	margin-bottom: 30px;
}

.panel-body {
	margin: 5px;
}
/*Resultado*/
.descricao {
	margin: 10px 0;
	font-weight: 100;
}

.preco {
	color: #204a87;
	font-weight: bold;
	padding-right: 10px;
}

.autor {
	font-weight: bold;
	color: gray;
}

.titulo {
	font-weight: bold;
	font-size: 23px;
	padding: 5px 0;
	margin-bottom: 5px;
	color: #3465a4;
}

#img-livro {
	width: 150px;
	margin: 2px;
	padding: 5px 1px;
	float: left;
}

.panel-body {
	margin: 5px;
}

.panel {
	margin: 15px;
	position: relative;
}