html {
    position: relative;
    min-height: 100%;
}
body{
	height:100%;

}

.container{
	position: relative ;
	heigth:auto;
	margin: 0 auto;
	width: 1200px;
	min-height:100%;
}

.content{
	margin-bottom: 100px;
}

.produto{
	width:455px;
	padding: 8px;
}

.cart-items .produto-preco{
	width: 105px;
	padding: 8px;
}
.quantidade{
	width: 180px;
	padding: 8px;
}
.preco-total{
	width: 100px;
	padding: 8px;
}

.item-remove{
	width: 30px;
	padding: 8px;
}
.produto-nome { 
	float:left;
  	width: 286px;
  	margin-top: 0;
  	
}
.autor {
    font-size: 12px;
    color: #b2b2b2;
}

.quantidade input{
	text-align: center;
}

.quantidade a{
	font-size: 20px;
	padding: 2px;
}

.icone-remove{
	font-size: 15px;
}

.cart {
    margin-bottom: 15px;
    border: 1px solid #b3b2b3;
}

.cart-items {
    margin-top: 7px;
    border-radius: 5px;
    padding: 5px;
}

.cart-items .produto-remove,
.cart-items .produto-preco,
.cart-items .quantidade-preco,
.cart-items .quantidade,
.cart-items .preco-total{
  text-align: center;
}


.produto-image{
	width: 115px;
	float: left;

}

.produto-image img{
	width: 105px;
	height: 135px;
}
 
.forma-pagamento{
	margin-bottom: 50px;
}

.menu-bandeira{
	margin-bottom: 10px;
}


.total-compra{
	font-size: 17px;
	font-weight: bold;
}

footer{
	background-image: url(../resources/imagens/fundo-rodape2.png);
	clear: both;
	display:inline-block;
	
	padding: 20px 0;
	margin-top: 10px;
	width:100%;
	

	position: absolute;
	bottom: 0;
	left:0;
}

#logo-rodape{
		width: 230px;
		
		position: relative;
		top: 15px;
	}

.social{
	position: absolute;
	top: 12px;
	right: 0;
}
.social li{
	float: left;
	margin-left: 25px;
}
.social a{
	height: 32px;
	width: 32px;
	
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"]{
	background-image: url(../resources/imagens/facebook.png);
}

.social a[href*="twitter.com"]{
	background-image: url(../resources/imagens/twitter.png);
}

.social a[href*="plus.google.com"]{
	background-image: url(../resources/imagens/googleplus.png);
}

html {
    position: relative;
    min-height: 100%;
}