
body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header{
	padding: 5px 0;
	margin-bottom: 20px;
	height: 50px;
	
	background-color:#545454;
	color: #fff;
	
	box-shadow: 0 2px 2px #ccc;
}

header > div{
	margin-left: 8px;
}

footer{
	padding: 0 8px;
}